
body {
    margin: 0;
    font-family: monospace;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    width: 500px;
    height: 50px;
    box-sizing: border-box;
    padding-left: 20px;
    margin-bottom: 20px;
}

button {
    width: 500px;
    height: 50px;
    box-sizing: border-box;
}

button:hover {
    background-color: salmon;
    cursor: pointer;
}

.footer {
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}